<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Regression_Suite">
	<test name="Browser Test" parallel="classes" thread-count="2">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="Web_Testing.in.letcode.Input_Boxes" />
		</classes>
	</test>
</suite>